/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);

body {
	background-attachment: fixed;
	background-color: rgb(5, 50, 98);
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
	        background-size: cover;
	margin: 0;
	overflow-x: hidden;
}
::-webkit-scrollbar {
	border-radius: 20px;
    width: 7px;
}
::-webkit-scrollbar-track {
	border-radius: 20px;
    -webkit-box-shadow: inset 0 0 7px transparent;
} 
::-webkit-scrollbar-track-piece {
	
}
::-webkit-scrollbar-thumb {
    background: rgba(0,0,255,0.8); 
    -webkit-border-radius: 10px;
			border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
	outline: 3px white;
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}

div.title
{
    font: normal 8vmin Indie+Flower;
    position: relative;
    font-family: 'Indie Flower', cursive;
    font-size: 250%;
    display: block;
    left: 8%;
    text-align: center;
    color: azure;
}
div.fb-login-button
{
    display: block;
    position: relative;
    left: 45%;
    z-index:1000;
}

div.fb-like
{
    top:;
    position: relative;
}

